<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="semantic.min.css">
    <style>
        .img-height img{
            height: 170px !important;
            object-fit: cover;
        }
    </style>

</head>
<body>
<div class="ui menu">
    <div class="ui container">
        <div class="item"><a href="$"> <i class="shopping huge basket icon"></i> </a></div>
        <div class="ui right menu">
            <div class="item"><a href="#">Home</a></div>
            <div class="item"><a href="#">About</a></div>
            <div class="item"><a href="#">Service</a></div>
            <div class="item"><a href="#">Contact</a></div>
        </div>
    </div>
</div>
<br>

<div class="ui container">
    <div class="ui grid">
        <div class="row">
            <div class="four wide column">
                <div class="ui vertical menu">
                    <a class="active teal item">
                        Inbox
                        <div class="ui teal left pointing label">1</div>
                    </a>
                    <a class="item">
                        Spam
                        <div class="ui label">51</div>
                    </a>
                    <a class="item">
                        Updates
                        <div class="ui label">1</div>
                    </a>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="row">
                    <img src="img/showcase.jpg" alt="" class="ui fluid image">
                </div>
                <br>
                <div class="row">
                    <div class="ui three stackable cards" id="product-list">
                        <div class="card">
                            <div class="img-height image">
                                <img src="img/city-red-night.jpg">
                            </div>
                            <div class="content">
                                <div class="header">City Night Light</div>
                                <div class="description">
                                    <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                                    <p>Many people also have their own barometers for what makes a cute dog.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-height image">
                                <img src="img/sunset-flowerpot.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Sunset Flowerpot</div>
                                <div class="description">
                                    <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                                    <p>Many people also have their own barometers for what makes a cute dog.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-height image">
                                <img src="img/gingerbread.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Gingerbread</div>
                                <div class="description">
                                    <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                                    <p>Many people also have their own barometers for what makes a cute dog.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-height image">
                                <img src="img/nature-branch.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Nature Beach</div>
                                <div class="description">
                                    <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                                    <p>Many people also have their own barometers for what makes a cute dog.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-height image">
                                <img src="img/wildlife-organism.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Wild Life</div>
                                <div class="description">
                                    <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                                    <p>Many people also have their own barometers for what makes a cute dog.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class=" img-height image">
                                <img src="img/city-red-night.jpg">
                            </div>
                            <div class="content">
                                <div class="header">City Night Light</div>
                                <div class="description">
                                    <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                                    <p>Many people also have their own barometers for what makes a cute dog.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="img-height image">
                                <img src="img/yellow-flower.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Yellow Flower</div>
                                <div class="description">
                                    <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                                    <p>Many people also have their own barometers for what makes a cute dog.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="semantic.min.js"></script>
</body>
</html>